*{
    margin: 0;
    padding: 0;
    background-color: #4892E2;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.menu{
    padding: 56px;
    text-align: center;
}

a{
    text-decoration: none;
    padding: 4px;
    margin: 16px;
    color: #B33475;
    font-size: 24px;
}

a:active{
    background-color: #3A4067;
}

a:hover{
    background-color: #3A4067;
}


.body{
    text-align: center;
    font-size: 24px;
    padding: 8px;
    color: #B33475;
    
}

.name{
    font-size: 36px;
    padding: 16px;
    color: #B33475;
}

.project{
    width: 60%;
    padding: 16px;
    font-size: 16px;
}

.text{
    font-size: 20px;
    padding: 8px;
    color: #B33475;
}

.field{
    width: 15%;
    padding: 8px;
    border: solid 2px #3A4067;
}

.button{
    width: 20%;
    padding: 8px;
    background-color: #3A4067;
    font-size: 20px;
}

